<form class="container" action="/post/create" method="post">
    <div class="mb-3">
        <label class="form-label">Post_id</label>
        <input type="text" class="form-control" name="postId">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_author</label>
        <input type="text" class="form-control" name="postAuthor">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_content</label>
        <input type="text" class="form-control" name="postContent">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_creat_at</label>
        <input type="text" class="form-control" name="postCreateAt">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_edit_at</label>
        <input type="text" class="form-control" name="postEditAt">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_image</label>
        <input type="text" class="form-control" name="postImage">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_isSecret</label>
        <input type="text" class="form-control" name="postIsSecret">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_like</label>
        <input type="text" class="form-control" name="postLike">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_temporary</label>
        <input type="text" class="form-control" name="postTemporary">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_title</label>
        <input type="text" class="form-control" name="postTitle">
    </div>
    <div class="mb-3">
        <label class="form-label">Post_views</label>
        <input type="text" class="form-control" name="postViews">
    </div>







<button type="submit" class="btn btn-primary">Submit</button>
</form>
